
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
/* CONTENIDO */
/**/
html{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6{
margin:0px;
}

h5{
  font-size: 20px;
}
h6{
  font-size: 20px;
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  color: #ff0000;
}

h5{
  margin-left: 10px;
  font-family: 'Kumbh Sans', sans-serif;
}
p, h4{
  width: 60%;
  font-family: 'Asap', sans-serif;
}

.container {
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: content-box;
}

.header, .buscar, .menu, .live, .temp, .usuario, .cronishop, .clubCr{
display:flex;
flex-direction: row;
padding: 10px;
text-align: center;
align-items: center;
}

.header2{
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #EFEFEF;
}

.buscar, .menu{
  background-color: #EFEFEF;
  margin: 10px;
  border-radius: 5px;
}
.live{
font-style: italic;
border: 1px #EFEFEF solid;
border-radius: 20px;
padding: 0.5%;
}
.logo{
  margin-left: 15%;
}
.usuario img{
  margin-left: 10px;
}
.usuario{
margin-left: 15%;
}

.aa{
margin-left: 20%;
margin-right: 40%;
}

.cronishop{
margin-left: 28%;
}

.aa h6{
  font-style: italic;
  font-weight: 100;
}

.conteneHeader2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.clubCr{
  float: right;
}

.Titulos{
margin: 1%;
margin-top: 2%;
width: 60%;
}
*/
.textostitulos{
  font-family: 'Asap', sans-serif;
}
#textost{
  font-family: 'Asap', sans-serif;
  font-weight: bolder;
}
h1{
  font-size: 32px;
  justify-content: center;
}
#carouselExampleIndicators{
  width: 50%;
  height: 40%;
  display: inline;
}
#botonoficial{
background-color: rgb(255, 0, 0);
margin-top: 5%;
display: inline-block;
border-radius: 100%;
width:10px;
height: 10px;
}
#botonusuario{
  background-color: rgb(255, 255, 0);
  margin-top: 5%;
  display: inline-block;
  border-radius: 100%;
  width:10px;
  height: 10px;
}
#botonesgeneral{
position: relative;
}
h4{
  font-family: 'Asap', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.placas{
  display:grid;
  justify-content: flex-end;
  padding-bottom: 3%;
  margin-right:none;
  padding-left: 2%;
}
#placaimg{
padding-bottom: 5%;
}

.contenedor1{
  display: flex;
  flex-direction: row;
}
#comentarioNota{
  background-color: yellow;
}
.btn {
  background-color: #ff0000;
  border-radius: 10px;
  color: #fff;
  /* text-transform: uppercase; */
  border: none;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
 cursor: pointer;

}
.btn2{
  background: transparent;
  border: none;
  color: #007fff;
  cursor: pointer;
}

.botonCrearPlaca, .botonvermas{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgYpie{
  display: block;
}

.pieDeImg{
  background-color: gray;
}
.pieDeImg h6{
  font-size: 12px;
  padding: 0.5%;
  color: white;
}

.notaTexto h6{
  margin-bottom: 10px;
}

.aaa{
  text-align: center;
  justify-content: center;
  width: 60%;
}
